<%- include("partials/header") -%>

<img src="/images/profile.jpg" alt="profile" class="profile">

    <h4 class="homeWords"> Yeboah Solomon Opoku </h4>
    <p class="word"> Jhoker </p>
    <p class="word wor"> Business A </p> 
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/banner.jpg" alt="" class="center">
            </div>
        </div>
    </div>
    <p>I am Here!</p>
<hr>





<% postContent.forEach(function(post) { %>

    <img src="/images/profile.jpg" alt="profile" class="profile">

    <h4 class="homeWords"> <%=post.name%> </h4>
    <p class="word"> <%=post.nicky%> </p>
    <p class="word wor"> <%=post.class%> </p> 

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="<%= post.Image %>" alt="" center>
            </div>
        </div>
    </div>

<!-- <% console.log(post) %> -->

<% }) %>


<%- include("partials/footer") -%>
