<%- include("partials/header") -%>

<img src="/images/profile.jpg" alt="profile" class="profile">

    <h4> Yeboah Solomon Opoku </h4>
    <h5> Jhoker </h5>
    <h5> Business A </h5> 
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/banner.jpg" alt="" class="center">
            </div>
        </div>
    </div>
    <p>I am Here!</p>
<hr>

<% postContent.forEach(function(post) { %>

    <img src="/images/profile.jpg" alt="profile" class="profile">

    <h4> <%=post.name%> </h4>
    <h5> <%=post.nicky%> </h5>
    <h5> <%=post.nameClass%> </h5> 
<hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="<%= post.Image %>" alt="">
            </div>
        </div>
    </div>  
    <p> <%=post.text%> </p>
<hr>
<!-- <% console.log(post) %> -->

<% }) %>


<%- include("partials/footer") -%>
